name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        node: ["12", "14", "16"]
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Setup Deno
        # uses: denoland/setup-deno@v1
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Verify formatting
        run: deno fmt --check

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test -A --unstable
        env:
          UPSTASH_KAFKA_REST_URL: ${{secret.UPSTASH_KAFKA_REST_URL}}
          UPSTASH_KAFKA_REST_USERNAME: ${{secret.UPSTASH_KAFKA_REST_USERNAME}}
          UPSTASH_KAFKA_REST_PASSWORD: ${{secret.UPSTASH_KAFKA_REST_PASSWORD}}


  test_node:
    needs: [test]
    strategy:
      matrix:
        node: ["12", "14", "16"]
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Setup Deno
        # uses: denoland/setup-deno@v1
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Test
        run: make build
        env:
          UPSTASH_KAFKA_REST_URL: ${{secret.UPSTASH_KAFKA_REST_URL}}
          UPSTASH_KAFKA_REST_USERNAME: ${{secret.UPSTASH_KAFKA_REST_USERNAME}}
          UPSTASH_KAFKA_REST_PASSWORD: ${{secret.UPSTASH_KAFKA_REST_PASSWORD}}
